/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* FINE RESET */

/* STILI COMUNI */
body {
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
}

img {
  width: 100%;
  vertical-align: middle;
}
/* FINE STILI COMUNI */

/*           HEADER           */
/* NAVBAR */
.navbar {
  height: 70px;
  padding: 0 80px;
  margin: 50px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  letter-spacing: 0.5px;
  color: #b1b6bc;
}
.pagina-corrente {
  /* background-color: yellow; */
}
.navigazione {
  display: none;
  align-items: center;
  justify-content: space-between;
  flex-basis: 60%;
  /* background-color: pink; */
}

.navbar a.active {
  color: #1c1c1c;
}

.logo {
  width: 100px;
  margin-right: 30px;
}

/* Menù */
.navbar .menu > li {
  display: inline-block;
}

.menu.pagina-corrente > li {
  padding: 10px 0;
  margin-right: 30px;
}

.menu.navigazione > li {
  padding: 10px 0;
}

.navbar .menu > li a:hover {
  color: #1c1c1c;
  transition: 0.3s;
}

.pagina-corrente,
.lingua,
.navigazione li::first-letter {
  text-transform: uppercase;
}

.freccia i {
  font-size: 10px;
}

.cta {
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  font-size: 18px;
  color: #fff;
  background-color: #eb008d;
}

.cta:hover {
  cursor: pointer;
  transform: scale(1.1);
  opacity: 0.7;
  transition: 0.3s;
}
/* Fine Menù */

/* Dropdown */
.con-dropdown {
  position: relative;
}

.dropdown {
  display: none;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0px 0px 10px 0px lightgray;
}

.dropdown.visible {
  display: block;
}
.dropdown li {
  white-space: nowrap;
  padding: 15px 25px;
}

.dropdown li:hover {
  color: #1c1c1c;
  background-color: #f1f1f1;
  transition: 0.3s;
}

.nuovo {
  margin-right: 40px;
  position: relative;
}

.nuovo:after {
  content: 'Nuovo';
  color: #eb008d;
  font-size: 12px;
  margin-left: 6px;
  position: absolute;
  top: 0;
  left: 100%;
  transform: translateY(-50%);
}
/* Fine Dropdown */

/* Mobile */
.navigazione.mobile {
  width: 100%;
  height: 100%;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
}

.navigazione.mobile .dropdown {
  top: 0;
  left: 100%;
  transform: translate(0, -50%);
}

.navigazione.mobile .lingua .dropdown {
  top: 50%;
  left: 100%;
  transform: translate(0, -50%);
}

.navigazione.mobile .lingua .dropdown.visible {
  display: flex;
}

.menu.navigazione.mobile > li {
  padding: 10px 50px;
}

.navigazione.mobile .cta:after {
  content: 'Scarica l\'app';
  margin-left: 10px;
}

.navigazione.mobile .freccia i {
  font-size: 15px;
  margin-left: 5px;
  transform: rotate(270deg);
}
/* Fine Mobile */
/* FINE NAVBAR */
/*           FINE HEADER           */

/*           MEDIA QUERY           */
@media screen and (min-width: 1200px) {
  /* Bottone download */
  .cta i {
    display: none;
  }

  .cta::after {
    content: 'Scarica l\' app';
  }
  /* Fine Bottone download */
}

@media screen and (min-width: 1150px) {
  /* Navigazione */
  .navigazione {
    display: flex;
  }
  /* Fine Navigazione */
  /* Burger */
  .burger i {
    display: none;
  }
  /* Fine Burger */
}
